<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/bootstrap/bootstrap.css"/>
<script src="/BootstrapJs/bootstrap.js"></script>
<link rel="stylesheet" href="/public/style.css">
<script src="https://momentjs.com/downloads/moment.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titulo Final</title>
</head>
<body>

    <div class="container mt-5">

    {{> TablaReservas}}
    </div>
</body>

<style>
    body{
        background-color: #5e1010;
    }
    table{
      text-align: center;
    }
</style>
</html>