
<h1 class="text-center">Solicitudes Pedidos de Compra</h1>
{{> BtnNuevaSPC}}

<table class="table table-success table-striped align-middle">
	<thead>
		<tr>
			<th scope="col">Disciplina</th>
			<th scope="col">Talla</th>
			<th scope="col">Material</th>
			<th scope="col">Presupuesto</th>
			<th scope="col">Estado</th>
			<th scope="col"></th>
			
		</tr>
	</thead>
	<tbody>
		{{! Cuerpo de la Tabla }}
	</tbody>
</table>

<script>



	const getData = async () => {
		const response = await fetch('/reservas');
		let data = await response.json();
		console.log(data);
		return data
	}
	
	getData()
	.then(data => {

		let tabla = document.querySelector('tbody');
		data.forEach((element, index) => {

			if(!element.estado_spc || element.estado_spc == "Cerrado"){
				return;
			}
			let filaSpc = document.createElement('tr');
			let modalSpc = document.createElement('tr');

			filaSpc.innerHTML += `
			
				<td>${element.disciplina_producto}</td>

				<td>${element.talla_producto}</td>
				<td>${element.material_1_producto}</td>
				<td>${element.presupuesto_min.toLocaleString("es-CL", {style:"currency", currency:"CLP"})} - ${element.presupuesto_max.toLocaleString("es-CL", {style:"currency", currency:"CLP"})}</td>
				<td>${element.estado_spc}</td>
				<td>
					{{> BtnEditarSPC id_spc='${element.id_spc}'}}
				</td>
			`
			
			// MODAL de cada SPC

			modalSpc.innerHTML += `{{> ModalEditarSPC}}`



			tabla.appendChild(filaSpc);
			tabla.appendChild(modalSpc);
		});
	})


		function habilitarEdicion(idModalSPC) {
		console.log("--------- HABLITAR EDICION ---------");

		let fieldsetSPC = document.getElementById('fieldsetSPC'+idModalSPC);

		fieldsetSPC.disabled ? fieldsetSPC.disabled = false : fieldsetSPC.disabled = true;
	}

	function actualizarEstadoSPC(value, id_spc){
		console.log("--------- DATA ACTUALIZAR ESTADO SPC ---------");
		console.log(value, id_spc);
		console.log("--------- ACTUALIZAR ESTADO SPC ---------");
	}

	// FORMDATA DE EDICION DE SPC


	const formEditarSPC = document.querySelector(`#formEditarSPC${id_spc}`);

	formEditarSPC.addEventListener('submit', (e) => {
		console.log("--------- FORM EDITAR SPC ---------");
		e.preventDefault();
		const formData = new FormData(formEditarSPC);
		const data = {};

		formData.forEach((value, key) => {
			data[key] = value;
		});

		console.log(data);
	})


</script>